@charset "utf-8";
/* CSS Document */

*{ 
	margin: 0px;
	padding: 0px;
}

body{
	background: #9B0D2D;/*color de fondo de toda la web*/
	color: #fff;/*color de fuente de lentra de la web*/
	padding-top:180px; /*ancho necesario para que el texto no quede bajo el encabezado*/
}

#contenedor{ /*la clase contenedor manitula el div padre*/
width: 1100px;/*ancho del div padre*/
margin:auto; /*centrado del div padre*/
margin-top:auto;/* espacio de la parte superior del div padre*/
/*border-radius: 20px;
overflow: hidden;*/
}




header{
    position: fixed; /*fija el header*/
    height:180px;
	border-radius: 15px; 
	background: #EFF384;
	overflow:hidden;
	align-content: auto;
	margin: auto;
	width: 100%;
	top:0; /*distancia entre el header y el inicio de la pagina y ayuda a fijar*/
	
}

header table{

	width: 1100px; border:medium; margin:auto;
}



#columna1{

text-align: center;

width: 200px;
color: #000000;
margin: auto;
border: ; /*BORDE TABLA*/
}
#nombre{

text-align: center;

width: 700px;
color: #000000;
margin: auto;
border: ; /*BORDE TABLA*/
}
#columna2{

text-align: center;

width: 200px;
color: #000000;
margin: auto;
border: ; /*BORDE TABLA*/
}


header nav{

	text-align: center;
	
	line-height:0px;  
}

header nav a{
	text-align: center;
	display:inline-block;
	color:#000000;
	text-decoration:none;
	padding:10px 20px;
	line-height:normal;
	font-size:20px;
	font-weight:bold;
	-webkit-transition:all 500ms ease ;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;       
}



#logo{
	float:center;
	width:150px;
	height: 120px;
}



#izquierda, #derecha { width:200px; font-family: Georgia, Tahoma; color: #fff; text-align:justify; height:auto; word-wrap:break-word;}
#contenido { width:700px; height:auto; font-family: Georgia, Tahoma; color:#FFF; text-align: center;}
#izquierda { float: left; word-wrap:break-word; } #derecha { float: right; }
#contenido { margin-left: 200px;} 



.menuCSS3 ul {
	    float:right;
		display: auto;
		padding: 0;
		margin: 50px;
		border: 5px;
		list-style: none;
	}
	.menuCSS3 a {
		border-radius:15px;
		display: block;
		padding: 20px;
		background-color: #A1CD3A;
		text-decoration: none;
		color: 	#FFFFFF;
	}
	

	.menuCSS3 ul li ul {
		display: none;
		text-align:center;
	}
	.menuCSS3 ul li a:hover + ul, .menuCSS3 ul li ul:hover {
		display: block;
	}
	
.imagenes {
	width:1100px;
	height:400px;
	margin-left:120px;
	margin-top:50px;
}

#mision {
	float:left;
	
}

#vision {
	float:right;

}

#vis {
	height:300px;
	width: 500px;
}

.footer {
	text-align:center;
	background:	#006E6F;
	margin-bottom:0px;
}



